<%- include('includes/links.ejs')%>
<%- include('includes/header.ejs')%>

    <div class="container mt-5">
        
        <a href="/add_user" style="box-shadow: 2px 5px 10px grey;">
            <span class="text mr-3 px-3 py-2">ADD USER <i class="fas fa-user py-2"></i></span>
        </a>


        <div class="row">

           <%- include('includes/form.ejs') %>

        </div>
    </div>


<%- include('includes/links.ejs')%>
